<!DOCTYPE html>
<html>
  <head>
    <title>Search</title>
    <%= stylesheet_link_tag 'main' %>
  </head>
  <body>
    <div data-controller="search">
      <%= form_with url: '#', method: :get, class: 'search-form mb-3', local: true do |f| %>
        <div class="input-group">
          <%= label_tag :search, 'Search:', class: 'input-group-text' %>
          <%= f.text_field :search, data: { target: "search.input" }, class: 'form-control' %>
        </div>
      <% end %>

      <div data-target="search.results">
        <%= render @posts %>
      </div>

      <%= link_to 'Search Analytics', search_analytics_path, class: 'btn btn-primary mt-3' %>
    </div>
  </body>
</html>
